@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --maximum-width:1200px;
}
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
}

body button:hover{
  background-color: #0074f0;
  cursor: pointer;
}
nav ul li:hover{
  transform: scale(1.25);
  background-color: #EEE1FF;
  border-radius: 5px;
  padding: 1px 2px;
}
.read-more:hover{
  color: #05D4DF;
  transform: scale(1.25);
  cursor: pointer;
}



/* Shared Styles */
*{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  height: 100%;
}

.curriculum{
  background-image: url('../assets/bg.png');
}
.our-stories{
  background:url('../assets/bg.png'), linear-gradient(to top, rgba(254, 163, 1, 0.3), white);
}

header, main{
  max-width: var(--maximum-width);
  margin: 0 auto;
  padding: 0 10px;
}

.hide{
  display: none;
}

.display-flex{
    display: flex;
}
  
/* Colors*/
.black2{
color: #202020;}
.black80{
    color:#808080;}
.black66{
    color:#666666;}
.orange{
  color: #FEA301;}
.orange2{
  color: #F0AA00;}
.skyblue{
  color:#01ACFD;}
.skyblue2{
  color:#64C8FF;}
.cyan2{
  color: #05D4DF;}
.purple{
  color:#5D58EF;}
.purple2{
  color: #8700FF;}

.btn-primary{
  background-color: black;
  color: white;
  padding: 10px 60px;
  border-radius: 0.75rem;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
}

.section-title{
  font-size: 3rem;
  font-weight: 700;
}

/* Header Section  */
/* Top Styles */
.top-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.top-portion{
  width: var(--maximum-width);
  justify-content: space-between;
  align-items: center;
}

.top-portion .logo-part{
  align-items: center;
  gap: 10px;
}

.top-portion .logo-part h2{
  font-weight:700;
  font-size: 2rem;
}

.top-portion .mobile-nav{
  display:none;
}

.top-portion .navbar{
  width: 30%;
}

.top-portion .navbar ul{
  justify-content: space-between;
  align-items: center;
}

.top-portion .nav-item{
  list-style: none;
}

.top-portion .nav-link{
  text-decoration: none;
}

.btn-contact{
  background-color: orange;
}

/* Hero Styles */
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .text{
  width: 52%;
}
.hero .photo{
  width: 42%;
}

.hero h1{
  font-weight: 700;
  font-size: 3.5rem;  
}

.hero .text p{
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.hero .text button{
  font-weight: 200;
}

/* Standard Curriculum Section*/
.curriculum{
  display : flex               
  /* display: none;   */
  flex-direction: column;
  text-align: center;
  padding: 60px 0px;
}

.cards{
  max-width: var(--maximum-width);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.card{
  display: flex;
  flex-direction: column;
  border-radius: 1.1rem;
  border: 1px solid #DEF5FF;
  padding: 52px 40px;
  gap: 32px;
}

.card .card-image{
  width: 130px;
  height: 130px;
  margin: 0 auto;
}
.card .card-title{
  font-weight: 700;
  font-size: 1.5rem;
  color: #202020;
}

.card .card-description{
  color: #808080;
}
.card h5{
  font-weight: 700;
  font-size: 1rem;
}

.card1{
  background:linear-gradient(to bottom, #DEF5FF, white 40%);
}
.card2{
  background:linear-gradient(to bottom, #FFF4DC, white 40%);
}
.card3{
  background:linear-gradient(to bottom, #EEE1FF, white 40%);
}

.arrows{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #FEA301;
  border: none;
  transition: all 0.75s 0.1s;
}

.arrow:hover{
  background-color: blue;
  cursor: pointer;
  transform: scale(1.25);
}


/* Our Stories Section*/

.our-stories{
  height: 1018px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.story-container{
  height: 600px;
  display: grid;
  grid-template-columns: 48% 50%;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  margin: 3.5rem auto;
}
.story-container .down-part, .story-container .text{
  background-color: white;
  border: 1px solid white;
  border-radius: 0 0 1rem 1rem;
}
.story-container button{
  color: white;
  background-color: #95B226;
  border-radius: 3rem;
  border: none;
  padding: 10px 18px;
}



.left-story .description{
  color: #666666;
} 

.story1{
  height: 100%;
}
.story1 .text{
  padding-left: 2.25rem;
  padding-bottom: 2rem;
}
.story1 .text button{
  height: 47px;
}

.story1 .title{
  font-weight: 700;
  font-size: 1.5rem;
  max-width: 402px;
  overflow: wrap;
  margin-bottom: 30px;
}

.right-story{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}

.right-story img{
  border-radius: 1rem 1rem 0 0;
}

.story-container button{
  margin-top: 0;
  margin-left: 30px;
  transform: translateY(-58%);
}

.left-story button{
  margin-left: 0px;
}

.right-story .heading{
  padding: 0 10px 28px 30px;
}

.story .heading{
  font-weight: 700;
}


/* Media Query for Small Device  */
@media screen and (max-width:576px){
  .top-section{
    border: 1px solid #FEA301;
  }
  .top-portion .navbar,
  .top-portion .btn-contact{
    display: none;
  }
  .top-portion .logo-part .photo{
    border: 1px solid #FEA301;
  }
  .top-portion .mobile-nav{
    display: inline;
    border: 1px solid #FEA301;
  }

  .hero{
    flex-direction: column-reverse;
  }
  .hero .text, 
  .hero .photo{
    margin: 20px 10px;
    width: calc(100% - 20px);
    text-align: center;
  }

  .hero h1{
    font-size: 2rem;
  }
  .hero p{
    font-size: calc(14px / 16);
    font-weight: 600;
  }
  .hero button{
    font-size: 1rem;
  }

  /* Standard Curriculumn for Small Device */
  .cards{
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .arrows{
    display: none;
  }

  /* Our Stories for Small Device */

  .left-story{
    display: none;
  }
  .our-stories{
    height: 900px;
  }
  .story-container{
    height: 500px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .right-story{
    width: 95%;
  }
  
  .right-story .heading, .right-story button{
    font-size: 0.8rem;
  }

}